<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2>Results</h2>
    <ul>
      <% for (let data of output) { %>
        <li> <img src="<%= data.image %>" alt=""></li>
        <li><%= data.title %></li>
        <li><%= data.author %></li>
        <li><%= data.description %></li>
      <% } %> 
      </ul>

</body>
</html>